body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Чтобы элементы располагались сверху */
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* нижний фон */
    position: relative; /* позиционирование для дочерних элементов */
}

#container {
    position: relative; /* позиционирование псевдоэлементов относительно этого контейнера */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Чтобы элементы располагались сверху */
    width: 100%; /* Занимает всю ширину */
}

#rectangle {
    width: 1000px; /* Ширина основания */
    min-height: 1000px; /* Высота основания */
    background: linear-gradient(45deg, #ffb4b4, #c5c2ff, #eaffb6); /* Градиент фона */
    background-size: 300% 300%; /* размер градиента для анимации */
    
    border-width: 10px; /* Ширина границы */
    border-style: solid; /* Стиль границы */
    border-image: linear-gradient(45deg, #ff0000, #0000ff) 1; /* Градиентные границы */
    
    border-radius: 20px; /* Закругленные углы */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    animation: lightAnimation 5s ease infinite; /* переливание(анимация) */
}

@keyframes lightAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#content {
    margin-top: 20px;
    width: 100%; /* Ширина содержимого */
    flex-grow: 1; /* Чтобы содержимое занимало доступное ему место */
}

/* плавный переход к границам с закругленными углами */
#container::before,
#container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(50vw - 500px); /* Половина ширины окна минус половина ширины прямоугольника */
    border-radius: 20px; /* Закругленные углы для псевдоэлементов */
}

#container::before {
    left: 0; /* Левый боковой элемент */
    background: linear-gradient(to right, blue, rgba(0, 0, 255, 0)); /* Плавный переход к прозрачному цвету */
}

#container::after {
    right: 0; /* Правый боковой элемент */
    background: linear-gradient(to left, blue, rgba(0, 0, 255, 0)); /* Плавный переход к прозрачному цвету */
}